<div class="nav-bottom">
    <ul class="nav-content">
        <li><a href="/balance">余量查询</a></li>
        <li><a href="/voucher/record">充值记录</a></li>
        <li><a href="#">流量提速</a></li>
    </ul>
    <div class="nav-img"></div>
</div>
