.serviceActivityDetail{
    .mark{
        margin-right: rem(15);
    }
    .product-label{
        width: rem(150);
    }
    .sevice-info{
        margin-top: rem(70);
    }
    .special-work-time{
        padding-bottom: rem(50);
    }

}