.serviceAgentDetail{
    .mark{
        margin-right: rem(15);
        vertical-align: middle;
    }
    .product-name{
        line-height: rem(36);
        margin-bottom: rem(50);
    }
    .product-label{
        width: rem(124);
    }
}