/**
 * Created by wenyu on 2017/3/8.
 */

@function rem($px) {
  @return $px / $font-size-default * 1rem;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin hairline($position, $color){
  border-#{$position}: 1px solid $color;
}

@mixin hairline-remove($position) {
  @if $position == top or $position == left{
    border-right: 0;
    border-top: 0;
  }
  @if $position == bottom or $position == right{
    border-left: 0;
    border-bottom: 0;
  }
}

@mixin hairline-color($position,$color) {
  @if $position == top or $position == left{
    border-left-color: $color;
    border-top-color: $color;
  }
  @if $position == bottom or $position == right{
    border-right-color: $color;
    border-bottom-color: $color;
  }
}

// Preserve3D
@mixin preserve3d() {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

// Encoded SVG Background
@mixin encoded-svg-background($svg) {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'><polygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F><%2Fsvg>");
}

@mixin align-items($ai){
  @if $ai == flex-start{
    -webkit-box-align: start;
    -ms-flex-align: start;
  }
  @else if $ai == flex-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
  }
  @else{
    -webkit-box-align: $ai;
    -ms-flex-align: $ai;
  }

  -webkit-align-items: $ai;
  align-items: $ai;
}

@mixin align-self($as) {
  -ms-flex-item-align: $as;
  -webkit-align-self: $as;
  align-self: $as;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-shrink($fs) {
  -webkit-flex-shrink: $fs;
  -ms-flex: 0 $fs auto;
  flex-shrink: $fs;
}

@mixin flex-wrap($fw){
  @if $fw == nowrap{
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }


  @else if $fw == wrap{
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  @else{
    -webkit-flex-wrap: $fw;
    -ms-flex-wrap: $fw;
    flex-wrap: $fw;
  }
}

@mixin justify-content($jc){
  @if $jc == flex-start{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  @else if $jc == flex-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  @else if $jc == space-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  @else{
    -webkit-box-pack: $jc;
    -ms-flex-pack: $jc;
    -webkit-justify-content: $jc;
    justify-content: $jc;
  }
}

@mixin scrollable(){
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}