.icon-down-arrow {
    display: inline-block;
    width: rem(15);
    height: rem(9);
    background-image: url(../images/down-arrow.png);
    background-size: 100% 100%;
    vertical-align: middle;
}

.serviceActivity {
    .m-special-screen {
        height: rem(65);
        border-bottom: none;
        background-color: #fafafa;
        li.active {
            color: #00a0e9;
        }
    }
}
.activity-banner{
    margin-bottom: rem(5);
    img{
        width: rem(750);
        height: rem(379);
    }
    .swiper-slide{
        position: relative;
    }
    .footer-tit{
        position: absolute;
        bottom: 0;
        left: 0;
        height: rem(55);
        line-height: rem(55);
        background-color: rgba(16,36,116,.5);
        width: 100%;
     

        color: #fff;
        font-size: rem(30);
        padding-left: rem(20);
    }
    .swiper-pagination-bullet{
        width: rem(5);
        height: rem(5);
    }
    .swiper-pagination{
        text-align: right;
    }
    .swiper-pagination-bullet-active{
        width: rem(10);
        height: rem(10);
    }
}
.activity-pic{
padding:rem(10) rem(20);
margin-right: rem(10);
    img{
        width: rem(172);
        height: rem(172);
         
    }
}
.activity-list{
    font-size: rem(24);
    color: #010101;
}
.activity-label{
    color: #999999;
}
.activity-addr{
    width: rem(364);
}
.activity-info{
    width: rem(528);
    padding-top: rem(20);
}
.sign-up{
    padding: 0 rem(10);
    width: rem(140);
    height: rem(42);
    text-align: center;
    line-height: rem(42);
    color: #fff;
    background-color: #00a0e9;
    border-radius: rem(4);
    margin-right: rem(20);

}
.activity-item{
    border-bottom: rem(2) solid #f5f6f8;
    &:last-child{
        border-bottom: none;
    }
}