.bg-grey{
  background: #f7f7f7 !important;
}
.s-red{
  background: #f00b0d !important;
}
.s-grey{
  background: #8e8d8d !important;
}
.s-blue{
  background: #00a0e9 !important;
}
.s-green{
  background: #4EAE49 !important;
}