.green-btn{
  background: #28afb5 !important;
  width:100%;
  height: rem(120);
  text-align: center !important;
  line-height: rem(120) !important;
  position: fixed;
  bottom:0;
  left:0;
  z-index: 9999999;
  &.green-btn-disabled{
    background: #eee !important;
    cursor: not-allowed;
    a{
      color:#666 !important;
    }
  }
  a{
    display: block;
    color: #fff !important;
    font-size: rem(35) !important;
  }
}