.error{
  padding:rem(20);
  font-size: rem(24);
  background-color: #1B1B1B;
  h1{
    color:#ff4301;
    font-size: rem(30);
  }
  pre{
    word-break: break-all;
    padding-top: rem(20);
    white-space: pre-wrap;
    word-wrap: break-word;
    color:#fff;
  }
}