.m-navbar{
  .title{
    font-size: rem(36);
    font-weight: 400;
  }
  &.bar{
      background: #fafafa;
    font-family: "Avenir Light", "PingFangSC-Light", arial, Hiragino Sans GB, \\5b8b体, sans-serif;
  }
}