.m-servicedemandDetail{
    .hd-list{
        background: #fff;
        padding: rem(50) rem(30);
        border-bottom: 1px solid #ddd;
        li{
            line-height: rem(60);
            font-size: rem(30);
            color: #202023;
        }
        label{
            display: inline-block;
            width: rem(215);
            font-size: rem(30);
            color: #7b7d89;
        }
        .status-red{
            color: #ef0000;
        }
    }
    .bd-inner{
        font-size: rem(28);
        color: #202023;
        padding: rem(40) rem(30);
        background: #fff;
    }
}
