.m-guide{
  .tit{
    height: rem(222);
    font-size: rem(45);
    color: #393939;
    line-height: rem(222);
    text-align: center;
  }
  ul{
    padding: 0 rem(60);
  }
  .item-register{
    width: rem(640);
    height: rem(125);
    border-radius: 10px;
    border: 2px solid #cecece;
    background: #ffffff;
    font-size: rem(38);
    color: #303030;
    line-height: rem(125);
    margin-bottom: rem(30);
    .arrows{
      width: rem(22);
      height: rem(31);
      float: right;
      margin-right: rem(20);
      margin-top: rem(45);
    }
    .position{
      float: left;
      margin-top: rem(25);
      margin-left: rem(40);
      margin-right: rem(45);
      width: rem(72);
      height: rem(72);
    }
  }
}