/**
 * Created by wenyu on 2017/3/8.
 */
/* === Search Bar === */
$searchbarBorderColor: transparent;
$searchbarSize: rem(65);
.searchbar {
  height: $searchbarSize;
  @include align-items(center);

  .searchbar-cancel {
    margin-right: -3rem;
    width: 2.2rem;  //注意，这里比 2.5rem 要小，因为如果位置刚好一样，可能在动画的过程中出现抖动
    float: right;
    height: $searchbarSize;
    line-height: $searchbarSize;
    text-align: center;
    transition: all .3s;
    opacity: 0;
    transform: translate3d(0,0,0);
  }

  .search-input {
    transform: translate3d(0,0,0);
    margin-right: 0;
    transition: all .3s;
    border-radius: rem(10);

    input {
      margin: 0;
      height: $searchbarSize;
    }
  }

  &.searchbar-active {
    .searchbar-cancel {
      margin-right: 0;
      opacity: 1;

      + .search-input {
        margin-right: 2.5rem;
      }
    }
  }
}

.search-input {
  position: relative;
  input {
    box-sizing: border-box;
    width: 100%;
    height: $searchbarSize;
    display: block;
    border: none;
    appearance: none;
    font-family: inherit;
    color: $color-text;
    font-size: rem(28);
    font-weight: normal;
    padding: 0 rem(22);
    background-color: #fff;
    border: 1px solid $searchbarBorderColor;
    &::-webkit-input-placeholder {
      color: $color-text-gray-light;
      opacity: 1;
    }
  }
  .icon {
    position: absolute;
    font-size: rem(40);
    color: $searchbarBorderColor;
    left: rem(10);
    top:rem(8);
  }

  label + input {
    padding-left: rem(22);
  }

}

.bar .searchbar {

  .search-input input {
    border: 0;
  }
  .searchbar-cancel {
    color: $color-text-secondary;
  }
}
