.new-list{
  .m-news-list{
    padding: rem(20) rem(10);
  }
}
.policy-box{
  padding: rem(30);
  .policy-title{
    font-size: rem(45);
    color: #282828;
    font-weight:bold;
  }
  .policy-content{
    font-size: rem(28);
    color: #282828;
    margin-top: rem(20);
    p{
      line-height: 2;
    }
  }
  .fd{
    font-size: rem(28);
    color: #8e8e8e;
    padding: rem(10) 0;
    .care{
      float: right;
      i{
        display: inline-block;
        width: rem(42);
        height: rem(25);
        background: url(../images/index/care.png);
        background-size: 100%;
        vertical-align: rem(-3);
        margin-right: rem(10);
      }
    }
  }
}

.m-online-policy{
  padding:rem(58) rem(40);
  display:block;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  padding-bottom: rem(150);
  .m-op-smsg{
    width:rem(580);
    word-break: break-all;
    padding:rem(10) rem(33);
    font-size: rem(26);
    color:#000;
    line-height: 1.5;
    background: #fff;
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    margin-bottom: rem(26);
  }
  .m-op-rmsg{
    width:rem(580);
    word-break: break-all;
    padding:rem(10) rem(33);
    font-size: rem(26);
    color:#fff;
    line-height: 1.5;
    background: #fb7276;
    border-radius: 16px;
    border-bottom-right-radius: 0px;
    margin-top: rem(26);
    margin-bottom: rem(26);
    margin-left: rem(80);
  }
}
.m-op-ques-box{
  width:100%;
  position:absolute;
  bottom:0;
  left: 0;
  height: rem(150);
  background-color: #f3f5f4;
  padding:rem(30) rem(20);
}
.m-op-ctx-box{
  width:80%;
  float: left;
  background-color: #fff;
  min-height: rem(98);
  padding:rem(10);
  font-size: 14px;
  &:focus,&:active{
    outline: none;
  }
}

.m-op-ctx-sendbtn{
  width:19%;
  float: left;
  height: rem(98);
  line-height: rem(98);
  background-color: #fb7276;
  color:#fff;
  text-align: center;
  font-size: 16px;
}