.m-special-details-userinfo{
  height:rem(456);
  position: relative;
  overflow: hidden;
  .bgpic{
    width: 100%;
    height: rem(456);
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    -webkit-filter: blur(10px) grayscale(10%); /* Chrome, Opera */
    -moz-filter: blur(10px) grayscale(10%);
    -ms-filter: blur(10px) grayscale(10%);
    filter: blur(10px) grayscale(10%);
  }
  .bgmask{
    width:100%;
    height: rem(456);
    background-color: rgba(55,55,55,.2);
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
  }
  .sdu-info{
    text-align: center;
    width:100%;
    height: rem(456);
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
    .t1{
      width: rem(157);
      height: rem(157);
      border-radius: 50%;
      margin-top: rem(27);
    }
    .t2{
      color:#fff;
      margin-top: rem(10);
      font-size: rem(28);
    }
    .t3{
      border:1px solid #fff;
      display: inline-block;
      padding:rem(8) rem(26);
      border-radius: rem(20);
      margin-top: rem(30);
      color:#fff;
      text-align: center;
    }
  }
}

.m-special-details-expr{
  height:rem(256);
  border-top:1px solid #ededed;
  border-bottom:1px solid #ededed;
  background-color: #fff;
  margin-bottom: rem(20);
  .expr-1{
    height:rem(162);
    margin:0 rem(16);
    padding:rem(32) 0;
    border-bottom: 1px solid #f1f1f1;
    ul{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 1;
      }
      span{
        display: block;
        font-size: rem(26);
        color:#999;
      }
      .e1{
        font-size: rem(40);
        color: #000;
        font-weight: 600;
      }
      .e-score{
        span,.e1{
          color:#ffb300
        }
      }
      .u-star{
        text-align: center;
        margin:0 auto;
        .ico-star_ac,.ico-star{
          float: inherit;
        }
      }
    }
  }
  .expr-2{
    line-height: rem(90);
    padding:0 rem(20);
    span{
      margin-right: rem(46);
      color:#656565;
      font-size: rem(26);
    }
  }
}

.m-special-dblock{
  border-top:1px solid #ededed;
  border-bottom:1px solid #ededed;
  padding:0 rem(30);
  background-color: #fff;
  margin-bottom: rem(10);
  .hd{
    height:rem(96);
    line-height: rem(96);
    color:#292929;
    font-size: rem(30);
    span{
      vertical-align: middle;
      margin-left: -2px;
      font-weight: 600;
    }
  }
  .bd{
    padding-bottom: rem(34);
    font-size: rem(28);
    line-height: rem(50);
    color:#646464;
  }
}

.m-special-dblock-2{
  .hd{
    height:rem(115);
    line-height: rem(115);
    border-bottom: 1px solid #ebebeb;
  }
  .more{
    color:#646464;
    font-size: rem(26);
    font-weight: 400;
  }
  ul{
    padding-top: rem(10);
  }
  .item{
    font-size: rem(28);
    color:#646464;
    margin-top: rem(10);
    overflow: hidden;
    a{
      float: left;
      width: rem(510);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .time{
    color: #9a9a9a
  }
  .eva-item{
    border-bottom: 1px dashed #ebebeb;
    padding:rem(17) 0;
    display: flex;
    flex-wrap: wrap;
    .ei-1{
      width: rem(80);
      flex:0 0 rem(80);
      img{
        width:rem(80);
        height:rem(80);
      }
    }
    .ei-2{
      flex: 1;
      padding-left: rem(26);
    }
    .t1{
      font-size: rem(28);
      color:#646464;
    }
    .t2{
      font-size: rem(26);
      color:#646464;
      line-height: rem(50);
      margin-top: rem(6);
    }
    .t3{
      font-size: rem(26);
      color:#646464;
      line-height: rem(50);
      margin-top: rem(20);
      a{
        display: inline-block;
        border:1px solid #ddd;
        border-radius: rem(20);
        padding:0 rem(10);
        font-size: 12px;
      }
    }
  }
}