.m-special-list{
  .item{
    height:rem(305);
    margin:0 rem(26);
    border-bottom:1px solid #e7e7e7;
    padding:30px 0;
    display: flex;
    flex-wrap: wrap;
    &:last-child{
      border-bottom: none;
    }
    div{
      flex: 1;
    }
    .pic{
      flex:0 0 rem(135);
      img{
        display: block;
        width:rem(135);
        height:rem(135);
      }
      .votenum{
        text-align: center;
        font-size: rem(30);
        color:#ffb914;
        margin-top: rem(14)
      }
    }
    .info{
      padding-left: rem(42);
      .t1,.t2{
        font-size: rem(30);
        color:#5d5d5d;
      }
      .t1{
        @include text-line(1);
      }
      .t2{
        margin-top: rem(16);
        @include text-line(2);
      }
      .t3{
        color:#303030;
        font-size: rem(28);
        margin-top: rem(20);
      }
      .tn{
        color:#000;
      }
      .tpr{
        color:#28afb5;
        margin-right: rem(46);
      }
    }
  }
}

.m-special-articlelist{
  padding-left: rem(30);
  .item{
    padding:rem(46) 0;
    padding-right: rem(60);
    @include text-line(2);
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    &:last-child{
      border:none;
    }
    a{
      color:#646464;
      font-size: rem(28);
      line-height: rem(50);
      @include text-line(2);
    }
    .ico-sp-arrow-s{
      position: absolute;
      right:rem(30);
      bottom:rem(60);
    }
  }
}