.m-special-quesop{
  width:100%;
  height:rem(107);
  line-height: rem(107);
  background-color: #fdfdfd;
  position: fixed;
  bottom:0;
  z-index: 99;
  left:0;
  border-top:1px solid #aaaaaa;
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      flex: 1;
      font-size: rem(30);
      text-align: center;
      border-right:1px solid #c2c2c2;
      color:#000;
      &:last-child{
        border:none;
      }
    }
  }
}