.m-special-screen{
  height: rem(78);
  line-height: rem(78);
  border-bottom: 1px solid #e7e7e7;
  ul{
    display: flex;
    flex-wrap: wrap;
  }
  li{
    flex: 1;
    text-align: center;
    color:#6b6b6b;
    font-size: rem(28);
    cursor: pointer;
  }
}