// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$action-r-name: 'action-r';
$action-r-x: 116px;
$action-r-y: 72px;
$action-r-offset-x: -116px;
$action-r-offset-y: -72px;
$action-r-width: 44px;
$action-r-height: 44px;
$action-r-total-width: 247px;
$action-r-total-height: 206px;
$action-r-image: '../images/sprite/index.png';
$action-r: (116px, 72px, -116px, -72px, 44px, 44px, 247px, 206px, '../images/sprite/index.png', 'action-r', );
$action-name: 'action';
$action-x: 110px;
$action-y: 126px;
$action-offset-x: -110px;
$action-offset-y: -126px;
$action-width: 44px;
$action-height: 44px;
$action-total-width: 247px;
$action-total-height: 206px;
$action-image: '../images/sprite/index.png';
$action: (110px, 126px, -110px, -126px, 44px, 44px, 247px, 206px, '../images/sprite/index.png', 'action', );
$care-name: 'care';
$care-x: 0px;
$care-y: 181px;
$care-offset-x: 0px;
$care-offset-y: -181px;
$care-width: 42px;
$care-height: 25px;
$care-total-width: 247px;
$care-total-height: 206px;
$care-image: '../images/sprite/index.png';
$care: (0px, 181px, 0px, -181px, 42px, 25px, 247px, 206px, '../images/sprite/index.png', 'care', );
$consult-r-name: 'consult-r';
$consult-r-x: 50px;
$consult-r-y: 0px;
$consult-r-offset-x: -50px;
$consult-r-offset-y: 0px;
$consult-r-width: 51px;
$consult-r-height: 46px;
$consult-r-total-width: 247px;
$consult-r-total-height: 206px;
$consult-r-image: '../images/sprite/index.png';
$consult-r: (50px, 0px, -50px, 0px, 51px, 46px, 247px, 206px, '../images/sprite/index.png', 'consult-r', );
$consult-name: 'consult';
$consult-x: 109px;
$consult-y: 0px;
$consult-offset-x: -109px;
$consult-offset-y: 0px;
$consult-width: 51px;
$consult-height: 46px;
$consult-total-width: 247px;
$consult-total-height: 206px;
$consult-image: '../images/sprite/index.png';
$consult: (109px, 0px, -109px, 0px, 51px, 46px, 247px, 206px, '../images/sprite/index.png', 'consult', );
$index-r-name: 'index-r';
$index-r-x: 0px;
$index-r-y: 72px;
$index-r-offset-x: 0px;
$index-r-offset-y: -72px;
$index-r-width: 50px;
$index-r-height: 46px;
$index-r-total-width: 247px;
$index-r-total-height: 206px;
$index-r-image: '../images/sprite/index.png';
$index-r: (0px, 72px, 0px, -72px, 50px, 46px, 247px, 206px, '../images/sprite/index.png', 'index-r', );
$index-name: 'index';
$index-x: 58px;
$index-y: 72px;
$index-offset-x: -58px;
$index-offset-y: -72px;
$index-width: 50px;
$index-height: 46px;
$index-total-width: 247px;
$index-total-height: 206px;
$index-image: '../images/sprite/index.png';
$index: (58px, 72px, -58px, -72px, 50px, 46px, 247px, 206px, '../images/sprite/index.png', 'index', );
$mess-name: 'mess';
$mess-x: 0px;
$mess-y: 0px;
$mess-offset-x: 0px;
$mess-offset-y: 0px;
$mess-width: 42px;
$mess-height: 64px;
$mess-total-width: 247px;
$mess-total-height: 206px;
$mess-image: '../images/sprite/index.png';
$mess: (0px, 0px, 0px, 0px, 42px, 64px, 247px, 206px, '../images/sprite/index.png', 'mess', );
$mine-r-name: 'mine-r';
$mine-r-x: 168px;
$mine-r-y: 0px;
$mine-r-offset-x: -168px;
$mine-r-offset-y: 0px;
$mine-r-width: 47px;
$mine-r-height: 47px;
$mine-r-total-width: 247px;
$mine-r-total-height: 206px;
$mine-r-image: '../images/sprite/index.png';
$mine-r: (168px, 0px, -168px, 0px, 47px, 47px, 247px, 206px, '../images/sprite/index.png', 'mine-r', );
$mine-name: 'mine';
$mine-x: 0px;
$mine-y: 126px;
$mine-offset-x: 0px;
$mine-offset-y: -126px;
$mine-width: 47px;
$mine-height: 47px;
$mine-total-width: 247px;
$mine-total-height: 206px;
$mine-image: '../images/sprite/index.png';
$mine: (0px, 126px, 0px, -126px, 47px, 47px, 247px, 206px, '../images/sprite/index.png', 'mine', );
$search-name: 'search';
$search-x: 162px;
$search-y: 126px;
$search-offset-x: -162px;
$search-offset-y: -126px;
$search-width: 36px;
$search-height: 34px;
$search-total-width: 247px;
$search-total-height: 206px;
$search-image: '../images/sprite/index.png';
$search: (162px, 126px, -162px, -126px, 36px, 34px, 247px, 206px, '../images/sprite/index.png', 'search', );
$serive-r-name: 'serive-r';
$serive-r-x: 55px;
$serive-r-y: 126px;
$serive-r-offset-x: -55px;
$serive-r-offset-y: -126px;
$serive-r-width: 47px;
$serive-r-height: 47px;
$serive-r-total-width: 247px;
$serive-r-total-height: 206px;
$serive-r-image: '../images/sprite/index.png';
$serive-r: (55px, 126px, -55px, -126px, 47px, 47px, 247px, 206px, '../images/sprite/index.png', 'serive-r', );
$serive-name: 'serive';
$serive-x: 168px;
$serive-y: 55px;
$serive-offset-x: -168px;
$serive-offset-y: -55px;
$serive-width: 47px;
$serive-height: 47px;
$serive-total-width: 247px;
$serive-total-height: 206px;
$serive-image: '../images/sprite/index.png';
$serive: (168px, 55px, -168px, -55px, 47px, 47px, 247px, 206px, '../images/sprite/index.png', 'serive', );
$star-name: 'star';
$star-x: 50px;
$star-y: 181px;
$star-offset-x: -50px;
$star-offset-y: -181px;
$star-width: 27px;
$star-height: 24px;
$star-total-width: 247px;
$star-total-height: 206px;
$star-image: '../images/sprite/index.png';
$star: (50px, 181px, -50px, -181px, 27px, 24px, 247px, 206px, '../images/sprite/index.png', 'star', );
$tit-name: 'tit';
$tit-x: 223px;
$tit-y: 33px;
$tit-offset-x: -223px;
$tit-offset-y: -33px;
$tit-width: 13px;
$tit-height: 22px;
$tit-total-width: 247px;
$tit-total-height: 206px;
$tit-image: '../images/sprite/index.png';
$tit: (223px, 33px, -223px, -33px, 13px, 22px, 247px, 206px, '../images/sprite/index.png', 'tit', );
$tit2-name: 'tit2';
$tit2-x: 223px;
$tit2-y: 0px;
$tit2-offset-x: -223px;
$tit2-offset-y: 0px;
$tit2-width: 24px;
$tit2-height: 25px;
$tit2-total-width: 247px;
$tit2-total-height: 206px;
$tit2-image: '../images/sprite/index.png';
$tit2: (223px, 0px, -223px, 0px, 24px, 25px, 247px, 206px, '../images/sprite/index.png', 'tit2', );
$spritesheet-width: 247px;
$spritesheet-height: 206px;
$spritesheet-image: '../images/sprite/index.png';
$spritesheet-sprites: ($action-r, $action, $care, $consult-r, $consult, $index-r, $index, $mess, $mine-r, $mine, $search, $serive-r, $serive, $star, $tit, $tit2, );
$spritesheet: (247px, 206px, '../images/sprite/index.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
